
.container > div > img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: 20px;
}

.top > div:nth-child(1n) {
  background-color: #ffffff;
}

.top > div:nth-child(2n) {
  background-color: #ffffff;
}
.menu > a {
  padding: 10px;
}
.menu > a:hover {
  color: #00bff3;
}
.menu > a:link {
  color: #EDEDED;
  font-family: 'Oswald';
  text-decoration: none;
}
.menu > a:active {
  color: #EDEDED;
}
.menu> a:visited {
  color: #7f7c7c;
}

html, body {
    background-color: #F1F1F1;
    margin: 0px;
}

/*Checkboxes styles taken from https://codepen.io/valerypatorius/pen/oXGMGL?q=custom+checkbox&limit=all&type=type-pens*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 20px;
  font: 18px/20px 'Oswald';
  color: black;
  cursor: pointer;
}


input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1.5px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}
/*Button styles taken from https://codepen.io/CTNieves/pen/pbLGZW*/
.btn {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  line-height: 64px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.btn-three::before {
  opacity: 0;
  background: #ffffff;
  transform: scale(1, 0.1);
}

.btn-three:hover::before {
  opacity: .6;
  transform: scale(1, 1);
}

.btn-three::after {
  transition: all 0.3s;
  border: 1px solid #42ecc4;
}

.btn-three:hover::after {
  transform: scale(1, .1);
  opacity: 0;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
  }

.boardDisplayer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  text-align: center;
  margin: 2% 4% 0% 4%;
}
