
.container > div > img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: 20px;
}

.top > div:nth-child(1n) {
  background-color: #ffffff;
}

.top > div:nth-child(2n) {
  background-color: #ffffff;
}
.menu > a {
  padding: 10px;
}
.menu > a:hover {
  color: #00bff3;
}
.menu > a:link {
  color: #EDEDED;
  font-family: 'Oswald';
  text-decoration: none;
}
.menu > a:active {
  color: #EDEDED;
}
.menu> a:visited {
  color: #7f7c7c;
}

html, body {
    background-color: #d3d1d1;
    margin: 0px;
}
